<!DOCTYPE html>
<html>
  <head>
    <title>Mi Diccionario</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mi Diccionario para Ampliar Mi Vocabulario</h1>
    <h2>Me Ayuda y Puede Ayudarle También</h2>
    <p>Agréguele Algo Si Quiere</p>

  <!-- the following form takes 2 inputs, and upon submission, POSTs to the DB
  and updates the word list below   -->
  <form id="word-form" method="POST" action="/words">
  <h4>La Palabra en Inglés</h4><input id="inginput" type="text" name="ing">
  <h4>Lo que Significa en Castellano</h4><input id="espinput" type="text" name="esp">
  <input type="submit" value="Submit">
  </form>

  <!-- the following list is populated from the entries housed in the DB, it
  can be updated upon submission of the form above -->
  <ul id="word-list">
  <% for (word in words) { %>
  <li><%= words[word]['ing'] %> - <%=words[word]['esp'] %></li>
  <% } %>

  </ul>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
  <script type="text/javascript" src="../javascripts/index.js"></script>
  </body>
</html>
